{% extends "base.html" %}

{% from 'macros/forms.html' import with_errors %}

{% block title %}Please sign in{% endblock %}

{% block content_title %}{% endblock %}

{% block content %}
<div class="container">
    <form class="form-signin" role="form" method="post" action="{{ login_url }}">
        <h2 class="form-signin-heading">Please sign in</h2>
        
        <input type="hidden" name="next" value="{{ next }}" />
        {% if csrf_token %}{# Support for flask-seasurf #}<input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">{% endif %}
        {# required, autofocus #}
        {% for field in form %}
          <div class="clearfix{% if field.errors %} error{% endif %}">
            {{ field.label }}
            <div class="input">
              {% set css_class = 'form-control ' %}
              {% if field.errors %}
                {% set css_class = 'error ' + css_class %}
              {% endif %}
              {{ field(class=css_class) }}
              {% if field.description %}<span class="help-inline">{{ field.description|safe() }}</span>{% endif %}
              {% for error in field.errors %}<span class="help-inline">{{ error }}</span>{% endfor %}
            </div>
          </div>
        {% endfor %}
        <button class="btn btn-lg btn-primary btn-block" type="submit">Log in</button>
      </form>
    </div>
{% endblock %}
